.iphone {
    width: 389px;
    height: 207px;
}
.realme{
    width: 389px;
    height: 207px;
}
.xiaomi{
    width: 389px;
    height: 207px;
}
.bloque5{
    display: flex;
    justify-content: center;
    gap: 18px;
    margin-top: 40px;
    margin-left: 30px;
}
.busqueda {
    margin: 0 auto;
    width: 114px;
    height: 8px;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}