.reloj {
    width: 1440px;
    height: 600px; 
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .bloque {
    width: 1201px;
    height: 326px;
    border-radius: 16px;
    background-color: #212844;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -280px;
    margin-left: 40px;
  }
  
  .contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 40px;
  }
  
  .textos {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .texto1 img {
    width: 574px;
    height: 156px;
  }
  
  .texto2 {
    width: 8px;
    height: 8px;
    color: white;
    font-size: 30px;
  }
  
  .relojimg img {
    width: 268px;
    height: 270px;
  }
  
  .boton1,
  .boton2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #FFFFFF;
    border-radius: 50%;
    width: 86px;
    height: 86px;
    font-size: 32px;
    font-weight: bold;
    color: #008ECC;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .boton1 {
    left: -50px;
  }
  
  .boton2 {
    right: -50px;
  }
  