.footer {
width: 1440px;
height: 512px;
background-color: #008ECC;
margin: 0 auto;
margin-top: 100px;
}
.footer1 {
    margin: 0 auto;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #008ECC;
    font-size: 20px;
    line-height: 20px;
    width: 1440px;
    color: white;
    border-top: 1px solid #05ABF3;
} 
.burbuja {
margin-left: 1119px;
position: absolute;
}

.titulo {
    margin-left: 150px;
    margin-top: 80px;
}

.contacto {
    margin-left: 150px;
    margin-top: 30px;
    height: 20px;
}
.wsp{
    margin-left: 150px;
    height: 42px;
    margin-top: 20px;
    width: 163px;
}
.tel {
    margin-left: 150px;
    height: 42px;
    margin-top: 20px;
    width: 163px;
}
.Download {
    margin-left: 150px;
    height: 20px;
    margin-top: 30px;
    width: 130px;
}
.apps {
    margin-left: 150px;
    height: 56px;
    margin-top: 10px;
    width: 378px;
}
.lista1 {
    position: absolute;
    margin-left: 600px;
    margin-top: -360px;
}
.lista2 {
    position: absolute;
    margin-left: 900px;
    margin-top: -360px;
}