.brands {
    width: 1440px;
    position: relative;
    margin-top: 40px;
    height: 340px;
}

.iphone {
    background-color: #313131;
    width: 389px;
    height: 207px;
    left: 120px;
    position: absolute;
    border-radius: 16px;
}

.txt-iphone {
    margin-top: 20px;
    background-color: #494949;
    width: 99px;
    height: 35px;
    left: 20px;
    position: absolute;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 10%;
}

.bubble2 {
    top: 0;
    right: 0;
    width: 215px;
    height: 189px;
    position: absolute;
}

.img-iphone {
    left: 211px;
    position: absolute;
    top: 4px;
}

.logo-iphone {
    width: 62px;
    height: 62px;
    background-color: white;
    left: 20px;
    margin-top: 80px;
    border-radius: 16px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt-80 {
    color: white;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    left: 20px;
    position: absolute;
    margin-top: 160px;
}

.realme {
    background-color: #FFF3CC;
    width: 389px;
    height: 207px;
    left: 525px;
    position: absolute;
    border-radius: 16px;
}

.txt-realme {
    margin-top: 20px;
    background-color: #F6DE8D;
    width: 99px;
    height: 35px;
    left: 20px;
    position: absolute;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 10%;
}

.bubble3 {
    top: 0;
    right: 0;
    width: 215px;
    height: 189px;
    position: absolute;
    border-top-right-radius: 16px;
}

.img-narzo {
    left: 180px;
    position: absolute;
    top: 4px;
}

.logo-realme {
    width: 114px;
    height: 34px;
    background-color: #FFC915;
    left: 20px;
    margin-top: 80px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt-81 {
    color: black;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    left: 20px;
    position: absolute;
    margin-top: 140px;
}

.xiaomi {
    background-color: #FFECDF;
    width: 389px;
    height: 207px;
    left: 930px;
    position: absolute;
    border-radius: 16px;
}

.txt-xiaomi {
    margin-top: 20px;
    background-color: #FFD1B0;
    width: 99px;
    height: 35px;
    left: 20px;
    position: absolute;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 10%;
}

.bubble4 {
    top: 0;
    right: 0;
    width: 215px;
    height: 189px;
    position: absolute;
    border-top-right-radius: 16px;
}

.img-xiaomi {
    left: 180px;
    position: absolute;
    top: 4px;
}

.logo-xiaomi {
    width: 67px;
    height: 67px;
    left: 20px;
    margin-top: 80px;
    position: absolute;
}

.txt-82 {
    color: black;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    left: 20px;
    position: absolute;
    margin-top: 160px;
}

.circles1 {
    left: 663px;
    width: 114px;
    height: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    position: absolute;
    margin-top: 240px;
}

.ovalo1 {
    background-color: #008ECC;
    width: 24px;
    border-radius: 7px;
}

.circle1 {
    background-color: #D9D9D9;
    width: 8px;
    height: 8px;
    border-radius: 100%;
}