.bloque2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bloque2 {
    border-bottom: 1px solid #EDEDED;
    max-width: 1201px;
    margin: auto;
}
.bloque2-texto {
  font-size: 24px;
  color: #666666;
  padding: 12px 0px;
  border-bottom: 3px solid #008ECC;
}

.bloque2-ver {
  font-size: 16px;
  color: #666666;
}

.azul {
 color: #008ECC;
 font-weight: 700;
}