.bloque3 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: 155px;
    margin-top: 5px;
  }
  
  .telefonos {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    height: 295px; 
    margin-top: 40px;
    gap: 20px;
  }
  
 